@mixin background(){
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}

@mixin btn(){
	padding-top: 5%;
	background-color: $verde;
	color: $white;
	border-radius:0.5em;
	padding: 15px;
	width: 20%;
	text-decoration:none;
}